cnaster_rs/target
docs/nb/.ipynb_checkpoints/

python/cnaster/__pycache__/
python/cnaster/sim/__pycache__/
python/cnaster/sim/phylogenies/
python/cnaster/sim/scripts/__pycache__/

results/
sandbox/
logs/
target/
zenodo_sample_sheets/
NOTES.md
.nextflow*
*~

# HACK
sample_sheet.tsv
new_sample_sheet.tsv
cnaster.log*

*.pyc
*.pdf
cnaster.perf*
cnaster_hmrf.perf*